@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(
    180deg,
    #422410 0%,
    rgba(45, 26, 15, 0.64) 100%
  );
}
/* Custom CSS to pause and resume animation on hover */
.hold-on-hover {
  animation-play-state: running;
}

.hold-on-hover:hover {
  animation-play-state: paused;
}
